.idea
cmake-build-debug
/cmake-build-debug-visual-studio
/build/
/.cache
/ninja
/.vs
/build.exe
/build.obj
game_assets/KayKit_Adventurers_2.0_FREE/Animations/gltf/.DS_Store
game_assets/KayKit_Adventurers_2.0_FREE/Animations/.DS_Store
.DS_Store
*.editor.layout.toml
.worktrees/
src/state_migration.gen.h
*.raddbg_project
*.raddbg_user
